**/__pycache__/
db_data/
*.pyc
*.pyo
*.log
.idea
.git
.venv
.pytest_cache
.github/
tests/
.gitignore
.coverage
coverage.xml
Dockerfile
description.md
.dockerignore
docker-compose.dev.yml
docker-compose.prod.yml
